Babel==2.9.1
beautifulsoup4==4.9.0
blinker==1.4
bs4==0.0.1
docutils==0.16
feedgenerator==1.9.1
i18n==0.2
Jinja2==2.11.2
Markdown==3.1.1
MarkupSafe==1.1.1
pelican==4.2.0
py==1.10.0
Pygments==2.6.1
python-dateutil==2.8.1
python-gettext==4.0
pytz==2019.3
six==1.14.0
soupsieve==2.0
Unidecode==1.1.1
webassets==2.0
